h1{color:WHITE}
h3{color:WHITE}
p{font-family:georgia,garamond,serif;font-style:italic;}
h2{color:WHITE;font-family:georgia,garamond,serif;font-style:italic;}
.style{margin-center: 2em;color:WHITE}
body {
		  padding-top: 10px;
		  padding-right: 10px;
		  padding-bottom: 10px;
		  padding-left: 10px;}